In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv("food_coded.csv")

In [3]:
data.shape

(125, 61)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          124 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   104 non-null    object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 52.8+ KB

In [5]:
data.head(5)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [6]:
data.isna().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         21
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [7]:
data['GPA'].unique()

array(['2.4', '3.654', '3.3', '3.2', '3.5', '2.25', '3.8', '3.904', '3.4',
       '3.6', '3.1', nan, '4', '2.2', '3.87', '3.7', '3.9', '2.8', '3',
       '3.65', '3.89', '2.9', '3.605', '3.83', '3.292', '3.35',
       'Personal ', '2.6', '3.67', '3.73', '3.79 bitch', '2.71', '3.68',
       '3.75', '3.92', 'Unknown', '3.77', '3.63', '3.882'], dtype=object)

In [8]:
GPA_mode = data.GPA.mode()[0]
print(GPA_mode)

3.5

In [9]:
data.GPA.fillna(GPA_mode, inplace=True)

In [10]:
data['GPA'] = data['GPA'].str.replace("Personal ","3.5")

In [11]:
data['GPA'] = data['GPA'].str.replace("Unknown","3.5")

In [12]:
data['GPA'] = data['GPA'].str.replace("bitch","")

In [13]:
data['GPA'].unique()

array(['2.4', '3.654', '3.3', '3.2', '3.5', '2.25', '3.8', '3.904', '3.4',
       '3.6', '3.1', '4', '2.2', '3.87', '3.7', '3.9', '2.8', '3', '3.65',
       '3.89', '2.9', '3.605', '3.83', '3.292', '3.35', '2.6', '3.67',
       '3.73', '3.79 ', '2.71', '3.68', '3.75', '3.92', '3.77', '3.63',
       '3.882'], dtype=object)

In [14]:
data['GPA'] = data['GPA'].astype('float')

In [15]:
calories_day_mode = data.calories_day.mode()[0]
print(calories_day_mode)

3.0

In [16]:
data.calories_day.fillna(calories_day_mode, inplace=True)

In [17]:
data['calories_day'].unique()

array([3., 4., 2.])

In [18]:
data.isna().sum()

GPA                  0
Gender               0
breakfast            0
calories_chicken     0
calories_day         0
                    ..
type_sports         21
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [19]:
type_sports_mode = data.type_sports.mode()[0]
print(type_sports_mode)

none

In [20]:
data.type_sports.fillna(type_sports_mode, inplace=True)

In [21]:
data['type_sports'].unique()

array(['car racing', 'Basketball ', 'none', 'Softball', 'None.', 'soccer',
       'field hockey', 'Running', 'Soccer and basketball ',
       'intramural volleyball', 'Hockey', 'hockey', 'dancing ',
       'basketball', 'Soccer', 'Tennis', 'tennis soccer gym',
       'Gaelic Football', 'Ice hockey', 'Lacrosse ', 'snowboarding',
       'none organized', 'softball', 'Lacrosse', 'Softball ', 'Dancing',
       'wrestling ', 'no particular engagement ', 'Volleyball', 'soccer ',
       'wrestling & rowing', 'Wrestling', 'Skiing', 'skiing ',
       'Water polo and running ', 'Ice Hockey', 'rowing ', 'None',
       'tennis  ', 'Recreational Basketball, Equestrian Team',
       'Rec Volleyball', 'baseball', 'I danced in high school',
       'horse back riding', 'competitive skiing',
       'Rowing, Running, and Cycling', 'softball and basketball',
       'wrestling', 'Marching Band', 'Collegiate Water Polo',
       'None right now', 'volleyball, lacrosse', 'none ', 'Fotball',
       'crew', 'Football, Basketball, Volleyball, Golf',
       'hockey, soccer, golf', 'Running ', 'Volleyball, Track',
       'When I can, rarely though play pool, darts, and basketball.',
       'None at the moment', 'volleyball', 'I used to play softball ',
       ' None', 'Tennis, Basketball', "No, I don't play sport.",
       'basketball '], dtype=object)

In [22]:
data['type_sports'] = data['type_sports'].replace("No, I don't play sport.","none")

In [23]:
data['type_sports'] = data['type_sports'].str.replace("None","none")

In [24]:
weight_mode = data.weight.mode()[0]
print(weight_mode)

135

In [25]:
data.weight.fillna(weight_mode, inplace=True)

In [26]:
data['weight'].unique()

array(['187', '155', "I'm not answering this. ", 'Not sure, 240', '190',
       '180', '137', '125', '116', '110', '264', '123', '185', '145',
       '170', '135', '165', '175', '195', '105', '160', '167', '115',
       '205', '128', '150', '140', '120', '100', '113', '168', '169',
       '200', '265', '192', '118', '210', '112', '144 lbs', '130', '127',
       '129', '260', '184', '230', '138', '156'], dtype=object)

In [27]:
data['weight'] = data['weight'].replace("I'm not answering this. ","135")

In [28]:
data['weight'] = data['weight'].str.replace("Not sure, ","")

In [29]:
data['weight'].unique()

array(['187', '155', '135', '240', '190', '180', '137', '125', '116',
       '110', '264', '123', '185', '145', '170', '165', '175', '195',
       '105', '160', '167', '115', '205', '128', '150', '140', '120',
       '100', '113', '168', '169', '200', '265', '192', '118', '210',
       '112', '144 lbs', '130', '127', '129', '260', '184', '230', '138',
       '156'], dtype=object)

In [30]:
data.isna().sum()

GPA                 0
Gender              0
breakfast           0
calories_chicken    0
calories_day        0
                   ..
type_sports         0
veggies_day         0
vitamins            0
waffle_calories     0
weight              0
Length: 61, dtype: int64

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           125 non-null    float64
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  125 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          124 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   125 non-null    object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        125 non-null    object
dtypes: float64(21), int64(27), object(13)
memory usage: 53.3+ KB

In [32]:
data.fillna(data.mean(), inplace=True)

<ipython-input-32-a20208f658ce>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.fillna(data.mean(), inplace=True)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           125 non-null    float64
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  125 non-null    float64
 5   calories_scone                125 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          124 non-null    object
 9   comfort_food_reasons_coded    125 non-null    float64
 10  cook                          125 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       125 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         125 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    125 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      125 non-null    float64
 23  father_education              125 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      125 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        125 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                125 non-null    float64
 41  marital_status                125 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              125 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 125 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  125 non-null    float64
 50  self_perception_weight        125 non-null    float64
 51  soup                          125 non-null    float64
 52  sports                        125 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             125 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   125 non-null    object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        125 non-null    object
dtypes: float64(21), int64(27), object(13)
memory usage: 53.3+ KB

In [34]:
from sklearn.preprocessing import LabelEncoder

for col in data.columns:
 if (data[col].dtype=='object'):
  lb=LabelEncoder()
  data[col]=lb.fit_transform(data[col])

In [35]:
data.head(5)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.400,2,1,430,3.0,315.0,1,110,105,9.0,...,1.0,1.0,1,1165.0,345,35,5,1,1315,34
1,3.654,1,1,610,3.0,420.0,2,83,58,1.0,...,1.0,1.0,2,725.0,690,1,4,2,900,22
2,3.300,1,1,720,4.0,420.0,2,98,101,1.0,...,1.0,2.0,5,1165.0,500,45,5,1,900,15
3,3.200,1,1,430,3.0,420.0,2,59,6,2.0,...,1.0,2.0,5,725.0,690,45,3,1,1315,42
4,3.500,1,1,720,2.0,420.0,2,34,62,1.0,...,1.0,1.0,4,940.0,500,23,4,2,760,35

# Regression (Supervised)

In [36]:
from sklearn.preprocessing import StandardScaler
sd=StandardScaler()
dataset = sd.fit_transform(data)

In [37]:
dataset_scale=pd.DataFrame(dataset, columns = data.columns)
dataset_scale['GPA']=data['GPA']
dataset_scale

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.400,1.245400,-0.355142,-1.127263,-0.040954,-0.830800,-1.741338,1.330258,1.636966,3.486702e+00,...,-0.529712,-8.064778e-01,-1.632687,1.084565,-1.384030,0.051786,0.921074,-1.024295,0.975490,1.069675
1,3.654,-0.802955,-0.355142,0.250061,-0.040954,-0.372258,0.574271,0.581988,0.133343,-9.395305e-01,...,-0.529712,-8.064778e-01,-0.933763,-1.110311,0.889301,-1.913311,-0.007428,0.976281,-0.700124,-0.073140
2,3.300,-0.802955,-0.355142,1.091758,1.665461,-0.372258,0.574271,0.997693,1.508998,-9.395305e-01,...,-0.529712,1.260122e+00,1.163010,1.084565,-0.362679,0.629756,0.921074,-1.024295,-0.700124,-0.739782
3,3.200,-0.802955,-0.355142,-1.127263,-0.040954,-0.372258,0.574271,-0.083141,-1.530241,-3.862514e-01,...,-0.529712,1.260122e+00,1.163010,-1.110311,0.889301,0.629756,-0.935930,-1.024295,0.975490,1.831551
4,3.500,-0.802955,-0.355142,1.091758,-1.747369,-0.372258,0.574271,-0.775984,0.261311,-9.395305e-01,...,-0.529712,-8.064778e-01,0.464086,-0.037815,-0.362679,-0.641778,-0.007428,0.976281,-1.265391,1.164909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.500,-0.802955,-0.355142,0.250061,1.665461,-0.372258,0.574271,1.690536,0.613222,2.457053e-16,...,-0.529712,-8.064778e-01,1.163010,-0.037815,-0.362679,-0.641778,0.921074,-1.024295,0.975490,0.022094
121,3.000,-0.802955,-0.355142,-2.389809,-1.747369,-0.830800,0.574271,-0.221710,-0.442513,2.457053e-16,...,-0.529712,4.588773e-16,0.464086,-0.037815,-0.362679,-0.006011,0.921074,0.976281,0.975490,0.783971
122,3.882,-0.802955,-0.355142,1.091758,-0.040954,-0.372258,-1.741338,1.607395,1.125094,2.457053e-16,...,-0.529712,1.260122e+00,1.163010,-1.833622,0.889301,0.629756,-0.007428,0.976281,0.975490,-1.406424
123,3.000,1.245400,-0.355142,1.091758,1.665461,-0.372258,-1.741338,-0.443419,0.997126,2.457053e-16,...,1.903041,1.260122e+00,-1.632687,-0.037815,-0.362679,0.629756,-0.935930,-1.024295,0.975490,-0.739782
124,3.900,-0.802955,-0.355142,-1.127263,-0.040954,-0.830800,0.574271,-1.053121,1.029118,2.457053e-16,...,-0.529712,1.260122e+00,-0.933763,-1.110311,-1.384030,0.629756,-0.007428,0.976281,-2.012352,-0.739782

In [38]:
dataset = data.dropna()

In [39]:
x = dataset_scale.drop('GPA', axis = 1) 
y = dataset_scale['GPA']

In [40]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

In [41]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error
k=5
neigh = KNeighborsRegressor(n_neighbors=3)
neigh.fit(x_train, y_train)
y_pred = neigh.predict(x_test)

In [46]:
from sklearn.metrics import mean_absolute_error
rmse = mean_absolute_error(y_test, y_pred)
print("Root Mean Absolute Error:", rmse)

Root Mean Absolute Error: 0.35932456140350877